*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
}

.blurred {
    overflow: hidden;
    filter: blur(3px);
}

.header {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-right: 2px solid black;
}

.weather-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    /* on vaja üldse? */
}

.weather-icon.large {
    width: 300px;
    height: 300px;
}

.header-current-temp {
    font-size: 1.5rem;
    margin-left: 3rem;
}

.currentNum {
    font-size: 3rem;
}

.header-right {
    /* testida gridi lahendust */

    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 3rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.tempNum {
    font-size: 1.5rem;
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: blue;
}

.value-sub-info {
    font-weight: lighter;
    font-size: 1rem;
}

.day-section {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.day-card-day {
    font-size: 0.75rem;
    color: black;
    margin-top: 0.5rem;
}

.hours-section {
    width: 95%;
    text-align: center;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;

}

.hour-row {
    background-color: aqua;
}

.hour-row:nth-child(2n) {
    background-color: aqua;
}

td {
    padding: 1.5rem 1rem;
    border: 1px solid black;
    background-color: rgba(42, 74, 92, 0.39);
}
